*{
	margin: 0;
	padding: 0;
	transition: 0.7s;
}

body{
	background-color: aliceblue;
}

.components{
	position:fixed;
	top: 50%;
	left:50%;
	margin-left:-90px;
	margin-top: -35px;
	width: 180px;
	height: 70px;
	background-color: rgba(70, 133, 192,1);
	border-radius: 100px;
	box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	transition: 0.7s;
	transition-timing-function: cubic-bezier( 0,0.5, 1.3,1);
}

.main-button{
	margin: 7.5px 0 0 7.5px;
	width: 55px;
	height:55px;
	background-color: rgba(255, 195, 35,1);
	border-radius: 50%;
	box-shadow:3px 3px 5px rgba(0, 0, 0, 0.5), inset  -3px -5px 3px -3px rgba(0, 0, 0, 0.5), inset  4px 5px 2px -2px rgba(255, 230, 80,1);
	cursor: pointer;
	transition: 0.7s;
	transition-timing-function: cubic-bezier( 0,0.5, 1.3,1);
}

.moon{
	box-shadow:inset 0px 0px 1px 1px rgba(0, 0, 0, 0.3) ;
	border-radius: 50%;
	transition: 0.5s;
	opacity: 0;
	transition-timing-function: cubic-bezier( 0,0.5, 1.3,1);
}

.moon:nth-child(1){
	position: absolute;
	top: 7.5px;
	left: 25px;
	width: 12.5px;
	height: 12.5px;
	background-color: rgba(150, 160, 180, 1);
	
}

.moon:nth-child(2){
	position: absolute;
	top: 20px;
	left: 7.5px;
	width: 20px;
	height: 20px;
	background-color: rgba(150, 160, 180, 1);
}

.moon:nth-child(3){
	position: absolute;
	top: 32.5px;
	left: 32.5px;
	width: 12.5px;
	height: 12.5px;
	background-color: rgba(150, 160, 180, 1);
}

.daytime-backgrond:nth-child(2){
	position: absolute;
	top: -20px;
	left: -20px;
	width: 110px;
	height:110px;
	background-color: rgba(255, 255, 255,0.2);
	border-radius: 50%;
	z-index: -2;
	transition: 0.7s;
	transition-timing-function: cubic-bezier( 0,0.5, 1.3,1);
}
.daytime-backgrond:nth-child(3){
	position: absolute;
	top: -35px;
	left: -15px;
	width: 135px;
	height:135px;
	background-color: rgba(255, 255, 255,0.1);
	border-radius: 50%;
	z-index: -3;
	transition: 0.7s;
	transition-timing-function: cubic-bezier( 0,0.5, 1.3,1);
}

.daytime-backgrond:nth-child(4){
	position: absolute;
	top: -45px;
	left: -15px;
	width: 160px;
	height:160px;
	background-color: rgba(255, 255, 255,0.05);
	border-radius: 50%;
	z-index: -4;
	transition: 0.7s;
	transition-timing-function: cubic-bezier( 0,0.5, 1.3,1);
}

.cloud,.cloud-light{
	transition: 0.7s;
	transition-timing-function: cubic-bezier( 0,0.5, 1.3,1);
}

.cloud-son:nth-child(1),.cloud-son:nth-child(7){
	position: absolute;
	right: -20px;
	bottom: 10px;
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	z-index: -1;
}

.cloud-son:nth-child(2),.cloud-son:nth-child(8){
	position: absolute;
	right: -10px;
	bottom: -25px;
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 50%;
	z-index: -1;
}

.cloud-son:nth-child(3),.cloud-son:nth-child(9){
	position: absolute;
	right: 20px;
	bottom: -40px;
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 50%;
	z-index: -1;
}

.cloud-son:nth-child(4),.cloud-son:nth-child(10){
	position: absolute;
	right: 50px;
	bottom: -35px;
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 50%;
	z-index: -1;
}

.cloud-son:nth-child(5),.cloud-son:nth-child(11){
	position: absolute;
	right: 75px;
	bottom: -60px;
	width: 75px;
	height: 75px;
	background-color: #fff;
	border-radius: 50%;
	z-index: -1;
}

.cloud-son:nth-child(6),.cloud-son:nth-child(12){
	position: absolute;
	right: 110px;
	bottom: -50px;
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 50%;
	z-index: -1;
}

.cloud{
	z-index: -2;
}

.cloud-light{
	position: absolute;
	right: 0px;
	bottom: 25px;
	opacity: 0.5;
	z-index: -3;
	transform: rotate(-5deg);
}

.stars{
	transform: translateY(-125px);
	z-index: -2;
	transition: 0.7s;
	transition-timing-function: cubic-bezier( 0,0.5, 1.3,1);
}

.star{
	position: absolute;
}

.big{
	width: 15px;
	height: 15px;
}

.medium{
	width: 10px;
	height: 10px;
}

.small{
	width: 6px;
	height: 6px;
}

.star:nth-child(1){
	top: 10px;
	left: 40px;	
}

.star:nth-child(2){
	top: 20px;
	left: 95px;	
}

.star:nth-child(3){
	top: 20px;
	left: 20px;	
}

.star:nth-child(4){
	top: 35px;
	left: 50px;	
}

.star:nth-child(5){
	top: 50px;
	left: 80px;	
}

.star:nth-child(6){
	top: 50px;
	left: 20px;	
}

.star:nth-child(7){
	top: 40px;
	left: 27.5px;	
}

.star:nth-child(8){
	top: 55px;
	left: 45px;	
}

.star:nth-child(9){
	top: 20px;
	left: 75px;	
}

.star:nth-child(10){
	top: 32.5px;
	left: 67.5px;	
}

.star:nth-child(11){
	top:40px;
	left: 95px;	
}

.star-son{
	float: left;
}

/* 大星星 */
.big .star-son:nth-child(1){
	width: 7.5px;
	height: 7.5px;
	background-image: radial-gradient(circle 7.5px at left 0, transparent 7.5px, #fff);
}

.big .star-son:nth-child(2){
	width: 7.5px;
	height: 7.5px;
	background-image: radial-gradient(circle 7.5px at right 0, transparent 7.5px, #fff);
}

.big .star-son:nth-child(3){
	width: 7.5px;
	height: 7.5px;
	background-image: radial-gradient(circle 7.5px at 0 bottom, transparent 7.5px, #fff);
}

.big .star-son:nth-child(4){
	width: 7.5px;
	height: 7.5px;
	background-image: radial-gradient(circle 7.5px at right bottom, transparent 7.5px, #fff);
}

/* 中星星 */
.medium .star-son:nth-child(1){
	width: 5px;
	height: 5px;
	background-image: radial-gradient(circle 5px at left 0, transparent 5px, #fff);
}

.medium .star-son:nth-child(2){
	width: 5px;
	height: 5px;
	background-image: radial-gradient(circle 5px at right 0, transparent 5px, #fff);
}

.medium .star-son:nth-child(3){
	width: 5px;
	height: 5px;
	background-image: radial-gradient(circle 5px at 0 bottom, transparent 5px, #fff);
}

.medium .star-son:nth-child(4){
	width: 5px;
	height: 5px;
	background-image: radial-gradient(circle 5px at right bottom, transparent 5px, #fff);
}

/* 小星星 */
.small .star-son:nth-child(1){
	width: 3px;
	height: 3px;
	background-image: radial-gradient(circle 3px at left 0, transparent 3px, #fff);
}

.small .star-son:nth-child(2){
	width: 3px;
	height: 3px;
	background-image: radial-gradient(circle 3px at right 0, transparent 3px, #fff);
}

.small .star-son:nth-child(3){
	width: 3px;
	height: 3px;
	background-image: radial-gradient(circle 3px at 0 bottom, transparent 3px, #fff);
}

.small .star-son:nth-child(4){
	width: 3px;
	height: 3px;
	background-image: radial-gradient(circle 3px at right bottom, transparent 3px, #fff);
}